backend/static/css/*
backend/static/img/*
backend/static/js/*
backend/static/favicon.ico
backend/static/index.html
backend/static/images/*
backend/static/anno_images/*
frontend/dist/*
.DS_Store
backend/.DS_Store
backend/__pycache__/*
frontend/node_modules/*
**/.DS_Store
**/__pycache__/*